$color-grey: #d2d1d1;
@import "node_modules/animate.css/animate";
@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "theme";
@import "node_modules/hover.css/css/hover";
//@import "node_modules/placeholder-loading/src/scss/placeholder-loading";
//Bootstrap
@import "bootstrap-overwrites";
// ANT
@import "ant-overwrites";
// style overwrites
@import "style-overwrites";
// Utilities
@import "utilities/bg-colors";
@import "utilities/box-shadows";
@import "utilities/line-heights";
@import "utilities/text-colors";
@import "utilities/general";
@import "wallet";
@import "./themes/tron-light.scss";
@import "./themes/tron-dark.scss";
@import "./themes/light.scss";
@import "./themes/dark.scss";
@import "./themes/tron.scss";
@import "representative";
//@import "animations";
//@import "node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
body {
  overflow-y: scroll;
}

$color-light-grey: #f2f2f2;
$light-red: #e50915;
$red: #c43127;
$dark-red: #c53027;
html,
body {
  height: 100%;
}

main {
  padding-bottom: 25px;
}

a {
  color: #333;
  transition: color 0.5s ease;
  &:hover:not(.btn) {
    color: $dark-red !important;
    text-decoration: none;
    transition: color 0.5s ease;
  }
}

.logo {
  height: 30px;
  margin-top: 3px;
  margin-right: 10px;
}

.block {
  background-color: $dark-grey;
  color: var(--white);
  padding: 10px; //border-radius: 5px;
}

.node-map {
  //height: 600px;
  position: absolute;
  top: 108px;
  z-index: 90;
  left: 0;
  right: 0;
  bottom: 0;
}

.social {
  font-size: 20px;
}

.dropdown-menu-right {
  z-index: 10000;
}

.sub-header {
  h4 {
    color: #d2d1d1;
  }
  padding-bottom: 60px;
}

.header-overlap {
  margin-top: -60px;
}

@include media-breakpoint-down(md) {
  body {
    font-size: 0.8rem;
  }
  .logo {
    margin-top: 0;
    margin-right: 6px
  }
}

@include media-breakpoint-down(sm) {
  body {
    font-size: 1rem;
  }
}

// Table stuff
tr:hover a {
  color: $dark-red !important;
  text-decoration: none;
  transition: color 0.1s ease-in;
}

tr:hover a:hover {
  color: $light-red !important;
  text-decoration: none;
  transition: color 0.1s ease-in;
}

tr a {
  color: #333;
  text-decoration: none;
  transition: color 0.5s ease-in;
}

.table-padded {
  tr {
    th {
      padding: 20px 10px 20px 10px !important;
    }
    td {
      padding: 20px 10px 20px 10px !important;
    }
  }
  //
  //.address-link {
  //  padding: 23px 30px 24px 0;
  //}
  //
  .transactions-table .address-link {
    padding: 0 !important;
  }
}

.page-link {
  color: #333333;
  padding: 0.5rem 0.5rem;
  :hover {
    color: $dark-red;
    transition: color 0.1s ease-in;
  }
}

.no-hover {
  pointer-events: none;
}

.vote-table {
  .progress {
    height: 15px;
    line-height: 15px;
  }
  .progress-bar {
    background-color: #28a745;
    color: #fff;
    text-align: center;
  }
  .progress-bar-percentage {
    text-align: center;
    padding-left: 5px;
    color: #333;
  }
  .address-link {
    padding: 0;
  }
  .vote-input-field {
    margin-right: 15px;
    padding-right: 10px !important;
  }
}

// Shadow
.box-shadow {
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.05) !important;
}

.top-bar-black {
  background-color: #000;
}

.top-bar-grey {
  background-color: $color-grey;
}

.top-bar {
  //background-color: #343a40 !important;
  background-color: rgba(10, 24, 50, 0.15);
  z-index: 410; // for leaflet overlap
}

.top-bar-grey.navbar .navbar-nav .nav-link {
  color: #24292e;
}

.top-bar-black.navbar .navbar-nav .nav-link {
  color: $color-grey;
}

// Animations
@for $i from 1 through 10 {
  .animation-delay-#{$i}s {
    animation-delay: #{$i}s;
  }
  .ad-#{$i}s {
    animation-delay: #{$i}s;
  }
}

// Animations
@for $i from 200 through 4000 {
  @if $i % 100==0 {
    .animation-delay-#{$i}ms {
      animation-delay: #{$i}ms;
    }
    .ad-#{$i}ms {
      animation-delay: #{$i}ms;
    }
  }
}

.animate-hover {
  animation-play-state: paused;
  &:hover {
    animation-play-state: running;
  }
}

.hvr-underline-white:before {
  background: #FFF;
}

.hvr-underline-white:before {
  background: #FFF;
}

// Shadow
.box-shadow-none {
  box-shadow: none !important;
}

.react-contextmenu-wrapper {
  //display: inline-block;
}

// Homepage
.home-stats {
  a {
    color: #FFF;
    text-decoration: none;
    &:hover {
      color: $light-red;
      h2 {
        //border-bottom: 2px solid #FFF;
      }
    }
  }
}

.homepage-filler {
  line-height: 1.8;
  font-weight: 300;
  h5 {
    font-weight: 300;
  }
  img {
    max-width: 100%;
  }
}

.home-barloader {
  margin-top: 10px;
}

.home-footer {
  background-color: #fafbfc;
}

.home-footer a {
  color: #6b757c;
}

.home-footer h5 {
  color: #2c2c2c;
}

.home-footer .footer-link {
  color: #2c2c2c;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

.home-token {
  background-color: #fafbfc; //.btn-outline-secondary{
  //  color: #ffffff;
  //  background-color: transparent;
  //  background-image: none;
  //  border: #ffffff;
  //}
  .card {
    border-color: #343a40;
  }
}

.position-stretch {
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

// Video
.video {
  max-height: 600px;
}

// Buttons
.btn-tron {
  color: #fff;
  background-color: $dark-red;
  border-color: $light-red;
}

.btn-tron:hover {
  color: #fff;
  background-color: $light-red;
  border-color: $dark-red;
}

.btn-white {
  background-color: #fff;
  border-color: #343a40;
}

.btn-white:hover {
  background-color: #fff;
  border-color: #343a40;
}

.btn-danger {
  color: #fff;
  background-color: $red;
  border-color: $dark-red;
}

.btn-grey {
  color: #fff;
  background-color: $color-grey;
  border-color: $color-grey;
}

// Wallet wizard
.wallet-wizard .wallet-wizard-logo {
  height: 100px;
  max-width: 100%;
}

/* Mobile fixes */

@media only screen and (max-width: 768px) {
  // Menu
  .navbar-collapse {
    padding-top: 10px;
  }
  .navbar-collapse .dropdown-menu.show {
    background-color: #353a40;
    border: 0px;
  }
  .navbar-collapse .dropdown-menu.show .dropdown-item {
    color: #d2d1d1;
  }
  .navbar-collapse .dropdown-menu.show .dropdown-item:hover {
    background-color: #353a40;
  }
  .show-mobile {
    display: block !important;
  }
  .hidden-mobile {
    display: none !important;
  }
  .sub-header {
    text-align: center;
  }
  .sub-header h4 {
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .home .card {
    margin-bottom: 25px;
  }
  // Wallet wizard
  .wallet-wizard .wallet-wizard-logo {
    height: 75px;
    max-width: 100%;
  }
  // Buttons
  .container button {
    font-size: 11px;
  }
}

.show-mobile {
  display: none;
}

.hidden-mobile {
  display: block;
}

.bg-grey {
  background-color: $color-grey;
}

.bg-super-dark {
  background-color: #000;
}

.bg-light-grey {
  background-color: $color-light-grey;
}

.badge-notify {
  background: green;
  position: absolute;
  top: 3px;
  left: -2px;
  color: #FFF;
}

.badge-red {
  padding: 15px 20px 15px 20px;
  background-color: $red;
}

/*
 *  STYLE 2
 */

.scrollbar-dark {
  $bg: #F5F5F5;
  $bgBar: #2c2c2c;
  &::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    //border-radius: 10px;
    background-color: $bg;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: $bg;
  }
  &::-webkit-scrollbar-thumb {
    //border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $bgBar;
  }
}

.volume-chords {
  path.chord {
    cursor: pointer;
    transition: fill-opacity .3s ease;
    fill-opacity: .4;
    stroke-width: 1.2;
    stroke-opacity: .3;
  }
  text.market-label {
    cursor: pointer;
  }
}

.news-sr {
  .carousel-item img {
    max-height: 300px;
    max-width: 100%;
  }
  .card {
    font-weight: 300;
    line-height: 1.8;
  }
  .card h5 {
    font-weight: 300;
  }
  .card-body {
    padding-top: 0;
  }
}

.news {
  a {
    color: $primary;
  }
}

.widget-icon {
  position: relative;
  overflow: hidden;
}

.icon-big {
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 0.5;
}

.map-2d {
  .marker-cluster {
    background: none;
    div {
      background-color: $dark;
      color: #FFF;
    }
  }
}

.truncate-ellipsis {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.truncate-ellipsis > * {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  text-transform: none;
  font-weight: 300;
  color: $black;
  .page-item .page-link {
    padding: 12px;
  }
  .input-group .page-link {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .input-group a:hover select {
    color: $black;
  }
  .selectForPaging {
    width: 65px;
    max-height: 30px;
  }
}

.inputForPaging {
  height: 20px;
  width: 60px;
  margin-top: -5px;
  margin-bottom: -5px;
  position: relative;
  padding: 2px 6px 2px 6px;
  border: 1px solid;
  border-color: #DFD7CA;
}

.selectForPaging {
  margin-top: -5px;
  margin-bottom: -5px;
}

th {
  white-space: nowrap;
}

.marker-cluster-small {
  background-color: red !important;
}

.marker-cluster-small div {
  background-color: red !important;
}

.marker-cluster-medium {
  background-color: red !important;
}

.marker-cluster-medium div {
  background-color: red !important;
}

.marker-cluster-large {
  background-color: red !important;
}

.marker-cluster-large div {
  background-color: red !important;
}

.leaflet-default-icon-path {
  background-image: url('../images/map/marker-icon-2x.png') !important;
}

.leaflet-marker-shadow {
  background-image: url('../images/map/marker-shadow.png') !important;
}

.ant-back-top {
  right: 10px;
  bottom: 10px;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.ant-table-pagination.ant-pagination {
  margin-right: 10px;
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

.custom-filter-dropdown {
  margin-left: 20px;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 16px 8px;
}

.fa_width {
  width: 15px !important;
}

.fa_width_20{
  width: 22px !important;
  font-size: 2rem;
}

#dropdownMenuButton:hover{
  color:red;
  cursor: pointer;
}

._confirm_button {
  margin-right: 0px !important;
}

// New token stuff
.token-cards {
  background-color: gray;
  transition: background-color 0.5s ease;
  background-color: #fff;
  color: #333;
  font-weight: 300;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  background-size: cover;
  min-height: 200px;
  .token-cards-top {
    padding: 10px 15px;
  }
  .token-cards-header {
    font-size: 18px;
    min-height: 30px;
  }
  .token-procentage {
    font-size: 14px;
  }
  .token-title {
    padding: 5px 0px 5px 0px;
  }
  .token-description {
    font-size: 12px;
    height: 80px;
  }
  .progress-bar-container {
    width: 100%;
    display: inline-block;
    .progress-bar {
      color: #fff;
      background-color: #6b757c;
    }
    .progress {
      border-radius: 5px;
      background-color: #bbbbbb;
      height: 10px;
      width: 85%;
    }
    .token-amounts {
      display: none;
    }
    .token-procentage {
      display: none;
    }
    .token-card-percentage {
      display: inline-block;
      font-size: 12px;
      margin-top: -12px;
    }
  }
  .bottom-center {
    min-height: 40px;
    .token-time {
      padding-top: 18px;
    }
  }
  .token-info {
    display: none;
  }
}

.mt-5-logo img {
  height: 100px;
  margin-left: -16px;
}

.nav-stats-block {
  display: none;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

@media (max-width: 767.98px) {
  .logo {
    margin-top: 6px;
    margin-right: 6px;
  }
  .nav-item .nav-login-wallet,
  .nav-item .account-dropdown-menu {
    position: absolute;
    float: none;
    left: -275px;
  }
  .nav-item .wallet-notifications {
    position: absolute;
    float: none;
    left: -100px;
  }
  .transfer-cell span {
    display: block;
    width: 40px;
  }
  .wallet-nav {
    flex-direction: row;
    .nav-item {
      margin-left: 10px;
    }
  }

  .home-stats{
     margin-top:0px;
    flex-direction: column;
  }
  .home .media-body{
    flex-direction: column;
  }
  .home-footer h5 {
    text-align: left;
  }
  .home-footer .quick-links {
    display: flex;
    flex-wrap: wrap;
  }
  .home-footer .quick-links li {
    width: 50%;
    text-align: left;
  }
  .nav-stats-none {
    display: none;
  }
  .nav-stats-block {
    display: block;
  }
  .home-stats > div h2 span {
    font-size: 20px;
  }
  .home-stats > div p span {
    font-size: 18px;
  }
  .ant-back-top {
    right: 20px;
  }
  .mt-5-logo img {
    height: 60px;
  }
  .nav-open-wallet {
    //text-align: right;
  }
  .navbar {
    align-items: flex-start;
  }
  .pagination .page-item .page-link {
    padding: 8px;
  }
  .pagination .input-group .page-link {
    padding-top: 6px;
    padding-bottom: 0px;
  }
}

.token-cards:hover {
  color: #333;
  font-weight: 200 !important;
  background-color: #fff;
  background-image: url('../images/token-card-bg-hover.png') !important;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  border: 1px solid;
  border-color: #b5b5b5;
  .token-title {
    .token-procentage {
      display: none;
    }
  }
  .token-time {
    display: none;
  }
  .token-info {
    display: inline-block;
  }
  .token-info {
    height: 40px;
    text-align: center;
    width: 100%;
    background-color: #6b757c;
    padding-top: 10px;
    color: #fff;
  }
  .progress-bar-container {
    .progress {
      display: none;
    }
    .token-amounts {
      display: inline-block;
      font-size: 12px;
    }
    .progress-bar {
      color: $red;
      background-color: $red;
      transition: color 0.5s ease;
      transition: background-color 0.5s ease;
    }
    .token-procentage {
      display: inline-block;
      font-size: 12px;
      padding-top: 9px;
    }
    .token-card-percentage {
      display: none;
    }
  }
  .bottom-center {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .token-cards:hover {
    color: #000;
  }
  .token-cards {
    font-weight: normal;
  }
}

._context_right_click .react-contextmenu-wrapper .truncate-ellipsis {
  display: inline-block !important;
}

.sr th,
.sr td {
  padding-left: 10px;
  padding-right: 10px;
}
.token-logo{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

//=========================ICO
.loading-style {
  position: absolute;
  z-index: 9999999;
  left: 50%;
  top: 50%;

}
.logo_upload{
  position: relative;

  .previewLogo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0!important;
  }
  .close{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0px;
    left: 50px;
    background: $white;
  }
  .svg-inline--fa{
    width: 0.5em;
    height: 0.5em;
    line-height: 0.5em;
    vertical-align: 1em;
  }
}

._text_nowrap{
  white-space:nowrap;
}